WebShop/WebShopClient/Service References/WebShopService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebShopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebShopService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebShopService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_GetProductInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_GetProductInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_BuyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyProduct" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_BuyProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyProductResponse" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_GetProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_GetProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_RefreshProductStock_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshProductStock" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_RefreshProductStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshProductStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebShopService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/GetName" message="tns:IWebShopService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/GetNameResponse" message="tns:IWebShopService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/GetProductInfo" message="tns:IWebShopService_GetProductInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/GetProductInfoResponse" message="tns:IWebShopService_GetProductInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/BuyProduct" message="tns:IWebShopService_BuyProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/BuyProductResponse" message="tns:IWebShopService_BuyProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/GetProductList" message="tns:IWebShopService_GetProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/GetProductListResponse" message="tns:IWebShopService_GetProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshProductStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/RefreshProductStock" message="tns:IWebShopService_RefreshProductStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/RefreshProductStockResponse" message="tns:IWebShopService_RefreshProductStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebShopService" type="tns:IWebShopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/GetProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/BuyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/GetProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshProductStock">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/RefreshProductStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebShopService">
    <wsdl:port name="BasicHttpBinding_IWebShopService" binding="tns:BasicHttpBinding_IWebShopService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WebShopService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>